ext/mkmf.log
ext/*.o
ext/*.bundle
tmp/
vendor/
coverage/
doc/
**/assets/manifest.yaml
**/assets/sprites/*.json
**/assets/sprites/*.png
**/assets/tilesets/*.png
**/assets/sounds/*.wav
.consolehst
.yardoc
.scannerwork/
