name: Build

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        ruby: [ 2.6, 2.5, 2.4 ]
        os: [ubuntu-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v1
    - name: checkout submodules
      run: |
        git submodule init
        git submodule update
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install SDL (ubuntu)
      if: "matrix.os == 'ubuntu-latest'"
      run: |
        sudo apt-get update
        sudo apt install --fix-missing build-essential libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev libsdl2-mixer-dev
    - name: Install SDL (macOS)
      if: "matrix.os == 'macOS-latest'"
      run: |
        echo | /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
        brew install sdl2 sdl2_image sdl2_ttf sdl2_mixer imagemagick
    - name: Build and test with Rake
      env:
        CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
      run: |
        gem install --force bundler
        bundle install --jobs 4 --retry 3
        bundle exec rake compile
        bundle exec rake check
    - uses: codecov/codecov-action@v1.0.2
      if: "matrix.os == 'ubuntu-latest' && matrix.ruby == 2.6"
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: ./coverage/coverage.xml
